.dashboard-container{
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.dashboard-header{
    padding:20px;
}

form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--color-accent);
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: var(--color-primary);
}

textarea {
    height: 100px;
    resize: vertical;
}

input[type="submit"] {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--color-accent);
}

@media (max-width: 600px) {
    form {
        padding: 20px;
    }
}