<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Webseite</title>
    <link rel="stylesheet" href="css/payment.css">
</head>
<body>
    <div class="header">
        <a href="/index">Home</a>
        <a href="/login">Login</a>
        <a href="/registration">Register</a>
    </div>
    <div class="main-banner">
        <h1>Main Banner</h1>
    </div>
    
    <div class="full-screen-image">
        <img src="static/images/under-construction.png" alt="Main Banner">
        <h1>Main Banner</h1>
    </div>

    <div class="footer">
        <p>Impressum</p>
        <p><a href="aboutus.html">Wer ist Mustache</a></p>
        <p>© By Mustache</p>
    </div>

</body>
</html>
